<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        
        <dict>
            <key>name</key>
            <string>c_1</string>
            <key>type</key>
            <string>journy</string>
            <key>category</key>
            <string>journy</string>
        </dict>    
        <dict>
            <key>name</key>
            <string>c_1</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Calm</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_13</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Celestial Magic</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_3</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Lighthouse</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_4</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Art</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_5</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Cities</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_6</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Architecture</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_18</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Tree of Life</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_7</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Butterflies</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_8</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Roses</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_9</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Fairyland</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_10</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Reflection</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_11</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Dreams</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_14</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>desserts</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_2</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Beneath the Stars</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_15</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Succulents</string>
        </dict>    
        <dict>
            <key>name</key>
            <string>c_20</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Zen Garden</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_21</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>turtles</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_22</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>peacocks</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_23</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Pink</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_24</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>hearts</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_25</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Wonderland</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_26</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Beach</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_27</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Fairytales</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_28</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Unicorns</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_29</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Sea Shells</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_12</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Awakening</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_19</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Christmas I</string>
        </dict> 
        <dict>
            <key>name</key>
            <string>c_16</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Beetles</string>
        </dict>   
        <dict>
            <key>name</key>
            <string>c_17</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>Day of the Dead</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_30</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>holiday wreaths</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_31</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>wind</string>
        </dict>
        <dict>
            <key>name</key>
            <string>c_32</string>
            <key>type</key>
            <string>collections</string>
            <key>category</key>
            <string>enchanted</string>
        </dict>
        
        <dict>
            <key>name</key>
            <string>ed_1</string>
            <key>type</key>
            <string>editor</string>
            <key>category</key>
            <string>Tree of Life</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ed_2</string>
            <key>type</key>
            <string>editor</string>
            <key>category</key>
            <string>Awakening</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ed_3</string>
            <key>type</key>
            <string>editor</string>
            <key>category</key>
            <string>Beach</string>
        </dict>
        <dict>
            <key>name</key>
            <string>ed_4</string>
            <key>type</key>
            <string>editor</string>
            <key>category</key>
            <string>Hearts</string>
        </dict>
     <dict>
        <key>name</key>
        <string>ed_5</string>
        <key>type</key>
        <string>editor</string>
        <key>category</key>
         <string>Pink</string>
    </dict>
     <dict>
        <key>name</key>
        <string>ed_6</string>
        <key>type</key>
        <string>editor</string>
        <key>category</key>
        <string>Pattern</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ed_7</string>
        <key>type</key>
        <string>editor</string>
        <key>category</key>
        <string>Christmas I</string>
    </dict>
    <dict>
        <key>name</key>
        <string>ed_8</string>
        <key>type</key>
        <string>editor</string>
        <key>category</key>
        <string>Wonderland</string>
    </dict>
    <dict>
		<key>name</key>
		<string>p_food</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>food</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_things</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>things</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_thanksgiving</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>thanksgiving</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_wind</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>wind</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_seasons</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>seasons</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_emoji</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>emoji</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_christmas</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>christmas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_secret garden</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>secret garden</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_lizards</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>lizards</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_fantasy</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>fantasy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_transportation</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>transportation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_wild animals</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>wild animals</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_cats</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>cats</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_celebration</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>celebration</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_space</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>space</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_sports</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>sports</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_summer vacation</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>summer vacation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_tea time</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>tea time</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_owls</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>owls</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_valentine</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>valentine</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_words</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>words</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_succulents I</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>succulents I</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_dogs</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>dogs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_dresses</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>dresses</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_bath time</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>bath time</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_knitted items</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>knitted items</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_birds</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>birds</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_people</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>people</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_plants &amp; flowers</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>Plants &amp; flowers</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_circus</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>circus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_scenery</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>scenery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_sea life</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>sea life</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_shoes</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>shoes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_costumes</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>costumes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_parrots</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>parrots</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_astrology</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>astrology</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_sunflowers</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>sunflowers</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_wreaths</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>wreaths</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_holidays</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>holidays</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_holiday wreaths</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>holiday wreaths</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_christmas I</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>christmas I</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_halloween</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>halloween</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_day of the dead</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>day of the dead</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_succulents</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>succulents</string>
	</dict>
	<dict>
        <key>name</key>
        <string>p_awakening</string>
        <key>type</key>
        <string>popular</string>
        <key>category</key>
        <string>awakening</string>
    </dict>
    <dict>
        <key>name</key>
        <string>p_tree of life</string>
        <key>type</key>
        <string>popular</string>
        <key>category</key>
        <string>Tree of Life</string>
    </dict>
    <dict>
		<key>name</key>
		<string>p_cities</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>cities</string>
	</dict>
    <dict>
        <key>name</key>
        <string>p_beach</string>
        <key>type</key>
        <string>popular</string>
        <key>category</key>
        <string>Beach</string>
    </dict>
    <dict>
		<key>name</key>
		<string>p_unicorns</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>unicorns</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_desserts</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>desserts</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_desserts I</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>desserts I</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_christmas II</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>christmas II</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_wonderland</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>wonderland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_zen garden</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>zen garden</string>
	</dict>
    <dict>
        <key>name</key>
        <string>p_hearts</string>
        <key>type</key>
        <string>popular</string>
        <key>category</key>
        <string>Hearts</string>
    </dict>
    <dict>
		<key>name</key>
		<string>p_fairyland</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>fairyland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_fairytales</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>fairytales</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_ligththouse</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>ligththouse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_pattern</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>pattern</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_butterflies</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>butterflies</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_pink</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>pink</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_reflection</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>reflection</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_roses</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>roses</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_sea shells</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>sea shells</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_calm</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>calm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_dreams</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>dreams</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_art</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>art</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_architecture</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>architecture</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_months</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>months</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_celestial magic</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>celestial magic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_beetles</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>beetles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_turtles</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>turtles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_peacocks</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>peacocks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_butterflies I</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>butterflies I</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_chinese new year</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>chinese new year</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_beneath the stars</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>beneath the stars</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_countries</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>countries</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_advent calendar</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>advent calendar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_mother's day</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>mother's day</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_father's day</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>father's day</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_purple</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>purple</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_characters</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>characters</string>
	</dict>
	<dict>
		<key>name</key>
		<string>p_enchanted</string>
		<key>type</key>
		<string>popular</string>
		<key>category</key>
		<string>enchanted</string>
	</dict>
    </array>
</plist>
