.DS_Store
*`.nib
*/DerivedData/
Build/
*/xcuserdata/*
DerivedData/
# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.

*/PL2.xcodeproj/*
Packages/
ackage.pins
Package.resolved
*.xcodeproj

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#

#*/Pods/*
#Pods/

#
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace